# Real secrets
infrastructure/postgres/secret.yaml
**/secret.yaml
**/.env
applications/bot/secret-proxy.yaml

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Temporary files
*.tmp
*.log
